body {
    font-family: sans-serif;
}

#app {
    width: 800px;
    height: 600px;
}

.room {
    float: left;
    width: 60%;
    height: 500px;
    display: block;
    border: 1px solid black;
}

#messages {
    display: block;
    border: 1px solid green;
}

#puzzle-inventory {
    border: 1px solid orange;
    height: 500px;
    overflow-y: scroll;
}

ul.puzzleList { columns: 2; }

li.groupHeader { list-style-position:inside; }
li.groupHeader.closed { list-style-type: '+ '; }
li.groupHeader.opened { list-style-type: '- '; }
li.puzzleItem { list-style: none; break-inside: avoid; }

div.puzzle {
    border: 1px solid green;
    width: 100px;
    height: 100px;
}

.door {
    border: 1px solid brown;
    position: absolute;
    top: 25px;
    left: 25px;
    height: 160px;
    width: 80px;
}

.drawer {
    border: 1px solid blue;
    position: absolute;
    top: 50px;
    left: 200px;
    width: 150px;
}

